@keyframes graphic {
  0%{
    width: 0;
  }
}

.skills{
  margin-bottom: 50px;
}

.graphic-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.curso {
  margin-left: 5px;
}

.graphic-container {
  width: 350px;
}

.box{
  display: flex;
  align-items: center;
  background-color: #e7e7e7;
  height: 15px;
  width: 100%;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

.graphic {
  background-color: black;
  height: 10px;
  border-radius: 10px;
  animation-name: graphic;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  margin-left: 2px;
}

.niveis {
  margin-left: 8px;
  font-size: 12px;
  color: gray;
  display: flex;
  justify-content: space-between;
}
