  <main>
    <div class="main-container">
     <div class="intro">
       <p>{{eu.nome}}</p>
       <span class="span-sm">{{eu.funcao}}</span>
       <p class="big">{{eu.intro}}</p>
     </div>
      <app-images-conteiner></app-images-conteiner>
      <div class="infos">
        <div class="sobre-mim" id="sobreMim">
          <p class="medium">Sobre Mim</p>
          <span class="span-sm">{{eu.sobreMim}}</span>
        </div>
        <app-grafico-habilidades></app-grafico-habilidades>
        <div class="experiencia">
          <p class="medium">Experiências</p>
          <span class="span-sm">{{eu.experiencia}}</span>
          <ul class="work-list">
            <li class="list-item">
              <p class="sm">Vixteam</p>
              <span class="span-sm">Estagiário Desenvolvimento</span>
              <span class="span-sm">2021 - 2023</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
