.main-container{
  padding-top: 200px;
}

.intro {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.infos {
  gap: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 75%;
}

.sobre-mim {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sm-span {
  font-size: 16px;
  line-height: 30px;
}

.experiencia-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.experiencia {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-item {
  display: flex;
  flex-direction: column;
}

.list-item p {
  margin-bottom: 10px;
}

.list-item span {
  font-size: 16px;
}
