@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.medium {
  font-size: 36px;
}

.sm {
  font-size: 20px;
}

span {
  color: gray;
}

.big {
  font-size: 64px;
}
