footer {
  display: flex;
  margin-top: 250px;
  padding: 20px 60px 60px 60px;
  border-top: #c4b8b8 1px solid;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  gap: 20px;
}

span {
  color: gray;
}

img {
  width: 30px;
  height: 30px;
}

.git {
  border-radius: 25%;
}
