<footer id="footer">
  <span>©Feito por Guilherme Jenner</span>
  <ul class="footer-list">
    <li><a href="https://www.instagram.com/jennerzin30/" target="_blank"><img src="/assets/instagram_733614.png" alt="insta"></a></li>
    <li><a href="https://www.linkedin.com/in/guilherme-jenner-34ba661ba/" target="_blank"><img src="/assets/linkedin_3536569.png" alt="linkedin"></a></li>
    <li><a href="https://github.com/Drakemaner" target="_blank"><img class="git" src="/assets/GitHub.png" alt="Git Hub"></a></li>
  </ul>
</footer>
